@import "./partials/_hero.scss";
@import "./partials/gallery";
@import "./partials/_foot";
@import "./partials/_font.scss";

$primary-color-dark: #323232;
$primary-color-mid: #afafaf;
$primary-color-light: #ffffff;
$secondary-color-dark: #000000;
$secondary-color-mid: #e1e1e1;
$secondary-color-light: #fafafa;

*{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}
.container{
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    
}

.navbar{
    display: flex;
    align-items: center;
    background-color: $primary-color-dark;
    color: $primary-color-light;
    height: 85px;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    

    ul{
        display: flex;
        list-style-type: none;
    }
    
    li {
        padding: 15px;
        font-family: avenir-demi;
        font-size: 14px;
        font-weight: 600;

        .select{
            padding-bottom: 30px;
            border-bottom: solid 3px $primary-color-light ;
        }

        a:hover{
            padding-bottom: 30px;
            border-bottom: 3px solid $primary-color-light ;
        }

    

       
    }
    a {
    color:$primary-color-light;
    }
  

    }
    




.logo{
    width: 100%; 
    height: 20px;
    margin-right: 20px;
}
 
@media (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }

    .cards {
        display: block;
        width: 50%;
        text-align: center;

        img {
            display: block;
            max-width: 100vw;

        }
      }
  
    .boxes .container {
      display: block;
      text-align: center;
    }

    .header {

        max-height: 300px;
        min-height: auto;

    }
  }
  
  

    .body-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        
        
        }

    




