@import "./partials/_hero.scss";
@import "./partials/gallery.scss";
@import "./partials/_foot.scss";
@import "./partials/_font.scss";

$primary-color-dark: #323232;
$primary-color-mid: #afafaf;
$primary-color-light: #ffffff;
$secondary-color-dark: #000000;
$secondary-color-mid: #e1e1e1;
$secondary-color-light: #fafafa;




*{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}
.container{
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    
}

.navbar{
    display: flex;
    align-items: center;
    background-color: $primary-color-dark;
    color: $primary-color-light;
    height: 85px;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    

    ul{
        display: flex;
        list-style-type: none;
    }
    
    li {
        padding: 15px;
        font-family: avenir-regular;
        font-size: 14px;
        font-weight: 600;

        .select{
            padding-bottom: 30px;
            border-bottom: solid 3px $primary-color-light ;
            font-family: avenir-demi;
        }

        a:hover{
            padding-bottom: 30px;
            border-bottom: 3px solid $primary-color-light ;
            font-family: avenir-demi;
        }

    

       
    }
    a {
    color:$primary-color-light;
    }
  

    }
    

.main-container{

    padding: 0 225px;
    
}

.main-image{

    width: 100%;
}


.logo{
    width: 100%; 
    height: 20px;
    margin-right: 20px;
}
 

 .gallery-container{
    background-color: $secondary-color-light;
    padding: 48px 125px;
    
 } 
  
 .quote{
   margin: 36px 0 24px 0;
   width: 75%;

 }

 input:focus,
 select:focus,
 textarea:focus {
   outline: none;
   box-shadow: 0 0 0 1px $primary-color-dark;
 }
 
 .comment-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;

    .name-form-feild{
        height: 48px;
        padding: 16px;
        color: $primary-color-dark;
        border-radius: 4px;
        border: solid 1px $secondary-color-mid;
        background-color: $secondary-color-light;
        margin-top: 4px;
    }

    .comment-form-feild{
        height: 96px;
        padding: 16px;
        color: $primary-color-dark;
        border-radius: 4px;
        border: solid 1px $secondary-color-mid;
        background-color: $secondary-color-light;
        margin-top: 4px;
    
    }
 }

 button{
    height: 40px;
    width:150px;
    border-radius: 4px;
    border: none;
    align-items: flex-end;
    background-color: $primary-color-dark;
    color: $primary-color-light;
    font-size: 18px;
    margin-top: 30px;
   
 }

 .avatar{
    border-radius: 100px;
    height: 50px;
    width: 50px;

}
    .avatar-place{
        display: flex;
    }

    .body-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        }

        .main-body-content{
    
            min-width: 100%;
            margin-left: 60px;
            margin-bottom: 48px;
        }



        @media (max-width: 767px) {

            h2{
                font-size: 24px;
                line-height: 32px;
                padding: 24px 16px 16px;
            }

            .logo{
                width: 100%; 
                height: 25px;
                margin-top: 16px;
                margin-left: 15px;
                
            }
            
            .navbar{
                flex-direction: column;
                align-items: center;
                height: 102px;

            li {
                padding: 5px 75px;
                
                font-size: 24px;
                font-weight: 600;
            
                    .select{
                        padding-bottom: 15px;
                        border-bottom: solid 3px $primary-color-light ;
                    }
            
                    a:hover{
                        padding-bottom: 15px;
                        border-bottom: 3px solid $primary-color-light ;
                    }
            }
                
            }

            .header{

                
                min-height: 420px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: 100%;
          
                
                .container{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: auto;
                    padding: 225px 0px 0px 35px;
                    
                h1{
                    font-size: 40px;
                    padding-left: 0px;
            
                
                }

              
                }
            
            }
            
      
        
            .cards {
                display: flex;
                flex-direction: column;
                
                
                
        
                img {
                    margin: 8px 0;
                    max-width: 100%;
        
                }
              }
          
            .boxes .container {
              display: block;
              text-align: center;
            }
            
            .main-container{

                padding: 0 16px;
                
            }

            .quote{
                margin: 16px 0 16px 0;
                width: 100%;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
         }

         p{
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 22px;
         }

         .body-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
        
            }

            .main-body-content{
    
                min-width: 100%;
                margin-left:  0px;
                margin-bottom: 24px;
            }


            .gallery-container{
                
                padding: 24px 16px;
                
    
        }
       
        .foot{
            
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
            h3{
                margin: 0;
                padding-right: 50px;
        
            }
            
        
            ul{
                display: flex;
                list-style-type: none;
                margin-bottom: 25px;
            }
            
            li {
               padding-right: 15px;
                font-family: avenir-demi;
                font-size: 14px;
                font-weight: 600;
        
                .select{
                    padding-bottom: 30px;
                    border-bottom: solid 3px $primary-color-light ;
                }
        
                a:hover{
                    padding-bottom: 30px;
                    border-bottom: 3px solid $primary-color-light ;
                }
        
            
        
               
            }
            a {
            color:$primary-color-light;
            }
          
         }

         .foot-nav{
            display: flex;
            align-items: flex-start;
           
        }
        .footer-logo{
            display: none;
        }

        .content{
    
            min-width: 100%;
            margin-right: 0px;
            line-height: 30px;
           
        }
        
        .footer-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            max-width: 100%;
            margin: 0px 0px;

    }
    .footer-logo-mobile{
        display: block;
        width: 50%; 
        height: 30px;
        margin: 25px 0;
        align-items: start;
       
        
    }
        }

        @media (min-width: 768px)
and (max-width: 1279px)  {

       
       h2{
        font-family: avenir-demi;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        padding:25px 0px 36px 50px;
       }

       .header{
  
        min-height: 550px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
  
        
        .container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: auto;
            padding: 225px 0px 0px 35px;
            
        h1{
            font-size: 60px;
            padding-left: 0px;
    
        
        }

      
        }
    
    }

    .main-container{

        padding: 0 100px;
        
    }

    .quote{
        margin: 32px 0 32px 0;
        width: 100%;
        font-size: 30px;
        font-weight: 600;
        line-height: 48px;
 }

 .body-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    }

    .main-body-font{

        font-size: 18px;
    }
    .main-body-content{

        min-width: 100%;
        margin-left:  20px;
        margin-bottom: 24px;
    }

    .gallery-container{     
        padding: 24px 48px;
}
.cards img {
    margin: 10px 10px 10px 10px;
    max-width: 32%;
  }

  .content{
    
    min-width: 35%;
    margin-right: 0px;
    line-height: 30px;
   
}

.footer-container{
    display: flex;

    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0px 0px;

}
.footer-logo{
    width: 100%; 
    height: 50px;
    margin-top: 15px;
    justify-content: flex-end;
}
}