.header {
  background-image: url(../../assets/images/hero-bio.jpg);
  min-height: 900px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .container {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 400px 36px;
}

footer {
  background-color: #323232;
  padding: 50px 100px;
  margin-top: 25px;
  color: #ffffff;
}

.foot {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  justify-content: space-between;
}
.foot h3 {
  margin: 0;
  padding-right: 0px;
  width: 300px;
}
.foot ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 25px;
}
.foot li {
  padding-right: 15px;
  font-family: avenir-demi;
  font-size: 14px;
  font-weight: 600;
}
.foot li .select {
  padding-bottom: 30px;
  border-bottom: solid 3px #ffffff;
}
.foot li a:hover {
  padding-bottom: 30px;
  border-bottom: 3px solid #ffffff;
}
.foot a {
  color: #ffffff;
}

.foot-nav {
  width: 70%;
}

.icon {
  width: 100%;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
}

.content {
  min-width: 30%;
  margin-right: 15px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 50%;
  margin: 25px -10px;
}
.footer-container p {
  align-content: flex-start;
  margin: 20px 0;
  line-height: 20px;
}

.footer-logo {
  width: 100%;
  height: 20px;
  margin-top: 15px;
  justify-content: flex-end;
}

.footer-logo-mobile {
  display: none;
}

.foot-link {
  color: #ffffff;
}
.foot-link a {
  color: #ffffff;
}

@font-face {
  font-family: avenir-regular;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  src: url(../../assets/fonts/alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: avenir-demi;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  src: url(../../assets/fonts/alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: avenir-bold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../../assets/fonts/alternative/AvenirNextLTProBold.ttf) format("truetype");
}
h1 {
  font-family: avenir-bold;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  color: white;
  padding-left: 100px;
}

h2 {
  font-family: avenir-demi;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  padding: 48px 125px 36px 125px;
}

h3 {
  font-family: avenir-demi;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

h4 {
  font-family: avenir-demi;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

body {
  font-family: avenir-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

textarea {
  font-family: avenir-regular;
  font-size: 14px;
}

.main-body-font {
  font-family: avenir-regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: auto;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #323232;
  color: #ffffff;
  height: 85px;
  padding: 0 100px;
  position: fixed;
  width: 100%;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar li {
  padding: 15px;
  font-family: avenir-regular;
  font-size: 14px;
  font-weight: 600;
}
.navbar li .select {
  padding-bottom: 30px;
  border-bottom: solid 3px #ffffff;
  font-family: avenir-demi;
}
.navbar li a:hover {
  padding-bottom: 30px;
  border-bottom: 3px solid #ffffff;
  font-family: avenir-demi;
}
.navbar a {
  color: #ffffff;
}

.main-container {
  padding: 0 225px;
}

.main-image {
  width: 100%;
}

.logo {
  width: 100%;
  height: 20px;
  margin-right: 20px;
}

.gallery-container {
  background-color: #fafafa;
  padding: 48px 125px;
}

.quote {
  margin: 36px 0 24px 0;
  width: 75%;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #323232;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}
.comment-form .name-form-feild {
  height: 48px;
  padding: 16px;
  color: #323232;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  background-color: #fafafa;
  margin-top: 4px;
}
.comment-form .comment-form-feild {
  height: 96px;
  padding: 16px;
  color: #323232;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  background-color: #fafafa;
  margin-top: 4px;
}

button {
  height: 40px;
  width: 150px;
  border-radius: 4px;
  border: none;
  align-items: flex-end;
  justify-items: flex-end;
  background-color: #323232;
  color: #ffffff;
  font-size: 18px;
  margin-top: 30px;
}

.avatar {
  display: flex;
  flex-direction: end;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.body-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-body-content {
  min-width: 100%;
  margin-left: 60px;
  margin-bottom: 48px;
}

.header-shows {
  min-height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../assets/images/hero-shows.jpg");
}

.header-shows-container {
  min-height: 550px;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 225px 0px 0px 35px;
}

.album-text {
  color: #ffffff;
  margin-left: -25px;
}

.song-container {
  margin: -100px 150px;
  height: 100px;
  width: 400px;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
    padding: 24px 16px 16px;
  }
  .logo {
    width: 100%;
    height: 25px;
    margin-top: 16px;
    margin-left: 15px;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    height: 102px;
  }
  .navbar li {
    padding: 5px 75px;
    font-size: 24px;
    font-weight: 600;
  }
  .navbar li .select {
    padding-bottom: 15px;
    border-bottom: solid 3px #ffffff;
  }
  .navbar li a:hover {
    padding-bottom: 15px;
    border-bottom: 3px solid #ffffff;
  }
  .song-container {
    margin: auto;
    height: 100px;
    width: 400px;
    display: flex;
    align-items: flex-end;
  }
  .header {
    min-height: 420px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 225px 0px 0px 35px;
  }
  .header .container h1 {
    font-size: 40px;
    padding-left: 0px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .cards img {
    margin: 8px 0;
    max-width: 100%;
  }
  .boxes .container {
    display: block;
    text-align: center;
  }
  .main-container {
    padding: 0 16px;
  }
  .quote {
    margin: 16px 0 16px 0;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
  p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 22px;
  }
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .main-body-content {
    min-width: 100%;
    margin-left: 0px;
    margin-bottom: 24px;
  }
  .gallery-container {
    padding: 24px 16px;
  }
  .foot {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .foot h3 {
    margin: 0;
    padding-right: 50px;
  }
  .foot ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 25px;
  }
  .foot li {
    padding-right: 15px;
    font-family: avenir-demi;
    font-size: 14px;
    font-weight: 600;
  }
  .foot li .select {
    padding-bottom: 30px;
    border-bottom: solid 3px #ffffff;
  }
  .foot li a:hover {
    padding-bottom: 30px;
    border-bottom: 3px solid #ffffff;
  }
  .foot a {
    color: #ffffff;
  }
  .foot-nav {
    display: flex;
    align-items: flex-start;
  }
  .footer-logo {
    display: none;
  }
  .content {
    min-width: 100%;
    margin-right: 0px;
    line-height: 30px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0px 0px;
  }
  .footer-logo-mobile {
    display: block;
    width: 50%;
    height: 30px;
    margin: 25px 0;
    align-items: start;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  h2 {
    font-family: avenir-demi;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding: 25px 0px 36px 50px;
  }
  .header {
    min-height: 550px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 225px 0px 0px 35px;
  }
  .header .container h1 {
    font-size: 60px;
    padding-left: 0px;
  }
  .main-container {
    padding: 0 100px;
  }
  .quote {
    margin: 32px 0 32px 0;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
  }
  .body-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .main-body-font {
    font-size: 18px;
  }
  .main-body-content {
    min-width: 100%;
    margin-left: 20px;
    margin-bottom: 24px;
  }
  .gallery-container {
    padding: 24px 48px;
  }
  .cards img {
    margin: 10px 10px 10px 10px;
    max-width: 32%;
  }
  .content {
    min-width: 35%;
    margin-right: 0px;
    line-height: 30px;
  }
  .footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0px 0px;
  }
  .footer-logo {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    justify-content: flex-end;
  }
}
/* mobile-schedule*/
@media (max-width: 767px) {
  .shows {
    margin: 0 16px;
  }
  .shows__title-section {
    display: none;
  }
  .shows__body-all--date-label {
    font-size: 14px;
    color: #afafaf;
    margin: 16px 0 16px 0;
  }
  .shows__body-all--date {
    font-size: 14px;
    margin: 0 0 16px 0;
  }
  .shows__body-all--venue-label {
    font-size: 14px;
    color: #afafaf;
    margin: 16px 0 16px 0;
  }
  .shows__body-all--venue {
    font-size: 14px;
    margin: 0 0 16px 0;
  }
  .shows__body-all--location-label {
    font-size: 14px;
    color: #afafaf;
    margin: 16px 0 16px 0;
  }
  .shows__body-all--location {
    font-family: avenir-regular;
    font-size: 14px;
    margin: 0 0 16px 0;
  }
  .shows__body-all--button {
    font-size: 14px;
    width: 100%;
    height: 48px;
    color: #ffffff;
    background-color: #323232;
    border-radius: 4px;
    border: none;
  }
  .shows__body-all--button:hover {
    background-color: black;
  }
  .shows__body-all--button-container {
    padding-bottom: 16px;
    border-bottom: 1px solid #afafaf;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .shows {
    margin: 0 48px;
  }
  .shows__title-section {
    display: flex;
    justify-content: space-between;
    color: #afafaf;
  }
  .shows__title-section--date {
    align-self: center;
  }
  .shows__title-section--venue {
    align-self: center;
  }
  .shows__title-section--location {
    align-self: center;
  }
  .shows__title-section--button-header {
    visibility: hidden;
  }
  .shows__body-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #afafaf;
  }
  .shows__body-all--date-label {
    display: none;
  }
  .shows__body-all--date {
    font-size: 14px;
  }
  .shows__body-all--venue-label {
    display: none;
  }
  .shows__body-all--venue {
    font-size: 14px;
    width: 100px;
    text-align: left;
  }
  .shows__body-all--location-label {
    display: none;
  }
  .shows__body-all--location {
    font-size: 14px;
    width: 150px;
    text-align: left;
  }
  .shows__body-all--button-container {
    padding: 16px 0;
    border: none;
  }
  .shows__body-all--button {
    font-size: 14px;
    width: 150px;
    height: 48px;
    color: #ffffff;
    background-color: #323232;
    border-radius: 4px;
    border: none;
  }
  .shows__body-all--button:hover {
    background-color: black;
  }
}
/* desktop */
@media (min-width: 1280px) {
  .shows {
    margin: 0 225px;
  }
  .shows__section {
    display: flex;
    justify-content: space-around;
    margin-top: -110px;
    margin-right: auto;
  }
  .shows__section-all {
    width: 800px;
  }
  .shows__title-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    color: #afafaf;
  }
  .shows__title-section--date {
    align-items: flex-end;
  }
  .shows__title-section--venue {
    align-items: flex-end;
  }
  .shows__title-section--location {
    align-items: flex-end;
  }
  .shows__title-section--button-header {
    visibility: hidden;
  }
  .shows__body-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #afafaf;
  }
  .shows__body-all--date-label {
    display: none;
  }
  .shows__body-all--date {
    font-size: 14px;
  }
  .shows__body-all--venue-label {
    display: none;
  }
  .shows__body-all--venue {
    font-size: 14px;
    width: 100px;
    text-align: left;
  }
  .shows__body-all--location-label {
    display: none;
  }
  .shows__body-all--location {
    font-size: 14px;
    width: 150px;
    text-align: left;
  }
  .shows__body-all--button-container {
    padding: 16px 0;
    border: none;
  }
  .shows__body-all--button {
    font-size: 14px;
    width: 150px;
    height: 48px;
    color: #ffffff;
    background-color: #323232;
    border-radius: 4px;
    border: none;
  }
  .shows__body-all--button:hover {
    background-color: black;
  }
}/*# sourceMappingURL=shows.css.map */